.navbar1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}
    .place{
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
        .place :hover{
            color: #000;
        }

    .logo-nav{
        margin-right: 50px;
    }
    .list{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    #toggler,
    .navbar1 label{
        display: none;
    }
@media screen and (max-widht:600px) {
    .menu{
        width: 100%;
        max-height: 0;  
        
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding:20px;
        
    }
    .navbar1 label{
  
            display:inline-flex;
            align-items: center;
            cursor: pointer;
        }
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
